{
  "openapi": "3.0.0",
  "x-stoplight": {
    "id": "7gq3ssp0elanu"
  },
  "info": {
    "title": "EVE Static Data Export",
    "description": "An OpenAPI for the SDE",
    "version": "1.0",
    "contact": {
      "name": "Joao Neto",
      "url": "https://evewho.com/character/401563624"
    }
  },
  "servers": [
    {
      "url": "https://sde2.jita.space",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Character"
    },
    {
      "name": "Corporation"
    },
    {
      "name": "Dogma"
    },
    {
      "name": "Inventory"
    },
    {
      "name": "Market"
    },
    {
      "name": "Planetary Interaction"
    },
    {
      "name": "Skills"
    },
    {
      "name": "Tournament"
    },
    {
      "name": "Universe"
    }
  ],
  "paths": {
    "/agents": {
      "get": {
        "summary": "List all agents",
        "tags": [
          "Character"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-agents",
        "description": ""
      }
    },
    "/agents/{characterID}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "characterID",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Get agent information",
        "tags": [
          "Character"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agentTypeID": {
                      "type": "integer"
                    },
                    "corporationID": {
                      "type": "integer"
                    },
                    "divisionID": {
                      "type": "integer"
                    },
                    "isLocator": {
                      "type": "boolean"
                    },
                    "level": {
                      "type": "integer"
                    },
                    "locationID": {
                      "type": "integer"
                    },
                    "characterID": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-agent-by-id"
      }
    },
    "/agents_in_space": {
      "get": {
        "summary": "List all agents in space",
        "tags": [
          "Character"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-agents-in-space"
      }
    },
    "/agents_in_space/{characterID}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "characterID",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Get information on an agent in space",
        "tags": [
          "Character"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "dungeonID": {
                      "type": "integer"
                    },
                    "solarSystemID": {
                      "type": "integer"
                    },
                    "spawnPointID": {
                      "type": "integer"
                    },
                    "typeID": {
                      "type": "integer"
                    },
                    "characterID": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-agent-in-space-by-id"
      }
    },
    "/ancestries": {
      "get": {
        "summary": "List all ancestries",
        "tags": [
          "Universe"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-ancestries",
        "description": ""
      },
      "parameters": []
    },
    "/ancestries/{ancestryID}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "ancestryID",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Get ancestry information",
        "tags": [
          "Universe"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "bloodlineID": {
                      "type": "integer"
                    },
                    "charisma": {
                      "type": "integer"
                    },
                    "descriptionID": {
                      "type": "object",
                      "properties": {
                        "de": {
                          "type": "string"
                        },
                        "en": {
                          "type": "string"
                        },
                        "es": {
                          "type": "string"
                        },
                        "fr": {
                          "type": "string"
                        },
                        "ja": {
                          "type": "string"
                        },
                        "ko": {
                          "type": "string"
                        },
                        "ru": {
                          "type": "string"
                        },
                        "zh": {
                          "type": "string"
                        }
                      }
                    },
                    "iconID": {
                      "type": "integer"
                    },
                    "intelligence": {
                      "type": "integer"
                    },
                    "memory": {
                      "type": "integer"
                    },
                    "nameID": {
                      "type": "object",
                      "properties": {
                        "de": {
                          "type": "string"
                        },
                        "en": {
                          "type": "string"
                        },
                        "es": {
                          "type": "string"
                        },
                        "fr": {
                          "type": "string"
                        },
                        "ja": {
                          "type": "string"
                        },
                        "ko": {
                          "type": "string"
                        },
                        "ru": {
                          "type": "string"
                        },
                        "zh": {
                          "type": "string"
                        }
                      }
                    },
                    "perception": {
                      "type": "integer"
                    },
                    "shortDescription": {
                      "type": "string"
                    },
                    "willpower": {
                      "type": "integer"
                    },
                    "ancestryID": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "bloodlineID": 5,
                      "charisma": 3,
                      "descriptionID": {
                        "de": "Die meisten Ländereien Amarrs gehören den Großgrundbesitzern, die üblicherweise erzkonservativ sind und die Tradition hochhalten. Einige haben sich indes von ihren engstirnigen und machtgierigen Zeitgenossen distanziert und setzen sich lieber für religiöse und grundlegende wirtschaftliche Reformen innerhalb ihrer Gesellschaft ein. Dabei hat sich besonders der udorianische Thronanwärter Catiz Tash-Murkon hervorgetan.",
                        "en": "Holders, the major landholding class in Amarr society, are generally conservative traditionalists. A few, however, have elected to break ranks with their hidebound and power-hungry peers, instead supporting the modernization of their society's religion and substantial economic reform. Their champion is Catiz Tash-Murkon, the Udorian Royal Heir.",
                        "es": "Los terratenientes, la principal clase poseedora de tierras en la sociedad de Amarr, son generalmente tradicionalistas conservadores. Sin embargo, unos pocos han optado por romper filas con sus congéneres, retrógrados y ávidos de poder, y apoyan la modernización de la religión de su sociedad y una reforma económica sustancial. Su elegida es Catiz Tash-Murkon, la heredera real udoriana.",
                        "fr": "Les grands propriétaires, l'aristocratie terrienne de la société amarr, sont généralement des traditionalistes conservateurs. Toutefois, une poignée d'entre eux a décidé de se désolidariser de leurs pairs réactionnaires et avides de pouvoir, préférant au contraire promouvoir la réforme religieuse et la modernisation économique de leur société. La figure de proue de ce mouvement progressiste n'est autre que Catiz Tash-Murkon, prétendante au trône d'ascendance udorian.",
                        "ja": "アマー社会の主要な地主階級である領主は、総じて保守的な伝統主義者だ。しかし少数の者たちは、その頑迷で権力欲の強い閉鎖的な階級を打破する道を選び、社会の宗教的近代化と大幅な経済改革を支持している。彼らにとっての英雄は、ユードリアン皇位継承者であるキャティスタッシュムーコンである。",
                        "ko": "아마르 사회에서 가장 많은 땅을 소유한 계급인 홀더는 일반적으로 보수적인 전통주의자들입니다. 하지만 이들 중 소수가 사회 종교의 현대화와 실질적인 경제 개혁을 지지하면서 고집스럽고 권력에 굶주린 동료와의 관계를 끊기로 했습니다. 이들을 이끄는 사람은 유도리안 왕족의 계승자인 카티즈 타쉬-머르콘입니다.",
                        "ru": "Владетели, крупный землевладельческий класс в обществе Amarr, являются в большинстве своём консервативными традиционалистами. Тем не менее, некоторые из них решили отдалиться от своих узколобых и властолюбивых соплеменников, поддерживая модернизацию религии своего общества и серьёзные экономические реформы. Их лидером является Catiz Tash-Murkon, наследник королевского престола Udorian.",
                        "zh": "贵族是艾玛社会中掌控地盘的一个主要阶层，他们通常都是传统保守人士。不过，其中有些人已打破了权力欲盛却碌碌无为的传统形象，成了宗教现代化与经济大变革的倡导支持者。其中的先驱便是尤朵的皇位继承人：卡蒂斯•塔什蒙贡。"
                      },
                      "iconID": 1641,
                      "intelligence": 0,
                      "memory": 0,
                      "nameID": {
                        "de": "Liberale Großgrundbesitzer",
                        "en": "Liberal Holders",
                        "es": "Terratenientes liberales",
                        "fr": "Propriétaires libéraux",
                        "ja": "リベラルな領主",
                        "ko": "자유주의 홀더",
                        "ru": "Либеральная знать",
                        "zh": "自由派贵族"
                      },
                      "perception": 0,
                      "shortDescription": "Progressive members of the upper class who have rejected their traditional ways.",
                      "willpower": 1,
                      "ancestryID": "1"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-ancestry-by-id"
      }
    },
    "/bloodlines": {
      "get": {
        "summary": "List all bloodlines",
        "tags": [
          "Universe"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-bloodlines",
        "description": ""
      },
      "parameters": []
    },
    "/bloodlines/{bloodlineID}": {
      "get": {
        "summary": "Get bloodline information",
        "tags": [
          "Universe"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "charisma": {
                      "type": "integer"
                    },
                    "corporationID": {
                      "type": "integer"
                    },
                    "descriptionID": {
                      "type": "object",
                      "properties": {
                        "de": {
                          "type": "string"
                        },
                        "en": {
                          "type": "string"
                        },
                        "es": {
                          "type": "string"
                        },
                        "fr": {
                          "type": "string"
                        },
                        "it": {
                          "type": "string"
                        },
                        "ja": {
                          "type": "string"
                        },
                        "ko": {
                          "type": "string"
                        },
                        "ru": {
                          "type": "string"
                        },
                        "zh": {
                          "type": "string"
                        }
                      }
                    },
                    "iconID": {
                      "type": "integer"
                    },
                    "intelligence": {
                      "type": "integer"
                    },
                    "memory": {
                      "type": "integer"
                    },
                    "nameID": {
                      "type": "object",
                      "properties": {
                        "de": {
                          "type": "string"
                        },
                        "en": {
                          "type": "string"
                        },
                        "es": {
                          "type": "string"
                        },
                        "fr": {
                          "type": "string"
                        },
                        "it": {
                          "type": "string"
                        },
                        "ja": {
                          "type": "string"
                        },
                        "ko": {
                          "type": "string"
                        },
                        "ru": {
                          "type": "string"
                        },
                        "zh": {
                          "type": "string"
                        }
                      }
                    },
                    "perception": {
                      "type": "integer"
                    },
                    "raceID": {
                      "type": "integer"
                    },
                    "willpower": {
                      "type": "integer"
                    },
                    "bloodlineID": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "charisma": 6,
                      "corporationID": 1000006,
                      "descriptionID": {
                        "de": "Führungsstärke hat in der Gesellschaft der Caldari ein Gesicht: das der Deteis. Ihr scharfer Verstand und ihre Beredsamkeit haben ihnen hohe Positionen beim Militär und in der Politik verschafft. Getrieben von der Prämisse, das Wohl der Gemeinschaft stets über die Bedürfnisse des Einzelnen zu stellen, haben sie es sich zur Aufgabe gemacht, die Integrität des Staates Caldari zu wahren.",
                        "en": "The Deteis are regarded as the face of leadership in Caldari society. Commonly possessed of sharp, ordered minds and articulate tongues, they are mostly found in positions of authority within military and political spheres. Driven by the cultural premise that the good of the whole must come before the needs of the individual, they have made the responsibility of upholding the integrity of the entire Caldari State their own.",
                        "es": "Los deteis se consideran la personificación del liderazgo en la sociedad caldari. Gracias a sus mentes agudas y ordenadas y a su facilidad de palabra, ocupan sobre todo cargos de autoridad en las esferas militares y políticas. Motivados por la premisa cultural de que el bien común debe estar por encima de las necesidades individuales, han asumido la responsabilidad de mantener la integridad del Estado Caldari.",
                        "fr": "Les Deteis sont un symbole d'autorité au sein de la société caldari. Vifs d'esprit et ordonnés, ces brillants orateurs occupent pour la plupart des postes à responsabilité dans les hautes sphères politiques et militaires. Conformément au principe qui veut que le bien de la communauté passe avant les besoins individuels, ils se font un devoir de préserver l'intégrité de l'ensemble de l'État caldari.",
                        "it": "I Deteis sono considerati come la faccia del potere nella società Caldari. Notoriamente dotati di mente ingegnosa e di favella arguta, ricoprono principalmente posizioni autorevoli nella sfera militare e politica. Guidati dal principio culturale secondo il quale il bene di tutti deve venire prima dei bisogni individuali, si sono assunti la responsabilità di innalzare il livello di integrità dell'intero Stato Caldari.",
                        "ja": "ディティス人は、カルダリ社会の主導者層を占有する存在と見られている。一般に、頭脳明晰で理路整然また能弁な彼らは、ほとんどが軍や政界で権威ある地位に就いている。個々のニーズよりも全体の利益を優先すべきであるという文化的基盤に立つ彼らは、カルダリ連合全体の秩序を保つことは自分たちの使命であると考えている。",
                        "ko": "칼다리 사회에서는 디타이즈를 지도자상으로 여깁니다. 디타이즈는 일반적으로 날카롭고 정돈된 사고와 뛰어난 언변을 가지고 있으며 주로 군사와 정치 영역에서 권력자의 자리에 앉습니다. 전체의 이익을 개인의 욕구보다 우선한다는 문화를 따라 디타이즈는 칼다리 연합 전체의 완벽함을 유지하는 책임을 수행하고 있습니다.",
                        "ru": "Представители Детеис рассмотрены как верхушка лидеров в обществе Калдари. Благодаря острому уму и способности доходчиво формулировать мысль они идеально подходят на высокие военные и политические должности. Ведомые императивом своей культуры, согласно которому благо всех выше блага каждого, они возложили на себя одних ответственность за поддержание целостности всего государства Калдари.",
                        "zh": "蒂泰斯人代表了加达里的领导阶层。凭借着敏锐清晰的思路与巧舌如簧的演讲，蒂泰斯人通常担任军事或政治领域中的权力职位。他们坚信集体利益高于个人诉求，将维护加达里名誉作为己任。"
                      },
                      "iconID": 1633,
                      "intelligence": 7,
                      "memory": 7,
                      "nameID": {
                        "de": "Deteis",
                        "en": "Deteis",
                        "es": "Deteis",
                        "fr": "Deteis",
                        "it": "Deteis",
                        "ja": "ディティス",
                        "ko": "데테이스",
                        "ru": "Детеис",
                        "zh": "蒂泰斯"
                      },
                      "perception": 5,
                      "raceID": 1,
                      "willpower": 5,
                      "bloodlineID": "1"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-bloodline-by-id",
        "description": ""
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "bloodlineID",
          "in": "path",
          "required": true
        }
      ]
    },
    "/blueprints": {
      "get": {
        "summary": "List all blueprints",
        "tags": [
          "Universe"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-blueprints",
        "description": ""
      },
      "parameters": []
    },
    "/blueprints/{blueprintID}": {
      "get": {
        "summary": "Get blueprint information",
        "tags": [
          "Universe"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "activities": {
                      "type": "object",
                      "properties": {
                        "copying": {
                          "type": "object",
                          "properties": {
                            "time": {
                              "type": "integer"
                            }
                          }
                        },
                        "manufacturing": {
                          "type": "object",
                          "properties": {
                            "materials": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "quantity": {
                                    "type": "integer"
                                  },
                                  "typeID": {
                                    "type": "integer"
                                  }
                                }
                              }
                            },
                            "products": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "quantity": {
                                    "type": "integer"
                                  },
                                  "typeID": {
                                    "type": "integer"
                                  }
                                }
                              }
                            },
                            "time": {
                              "type": "integer"
                            }
                          }
                        },
                        "research_material": {
                          "type": "object",
                          "properties": {
                            "time": {
                              "type": "integer"
                            }
                          }
                        },
                        "research_time": {
                          "type": "object",
                          "properties": {
                            "time": {
                              "type": "integer"
                            }
                          }
                        }
                      }
                    },
                    "blueprintTypeID": {
                      "type": "integer"
                    },
                    "maxProductionLimit": {
                      "type": "integer"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "activities": {
                        "copying": {
                          "time": 480
                        },
                        "manufacturing": {
                          "materials": [
                            {
                              "quantity": 86,
                              "typeID": 38
                            }
                          ],
                          "products": [
                            {
                              "quantity": 1,
                              "typeID": 165
                            }
                          ],
                          "time": 600
                        },
                        "research_material": {
                          "time": 210
                        },
                        "research_time": {
                          "time": 210
                        }
                      },
                      "blueprintTypeID": 681,
                      "maxProductionLimit": 300
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-blueprint-by-id",
        "description": ""
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "blueprintID",
          "in": "path",
          "required": true
        }
      ]
    },
    "/categories": {
      "get": {
        "summary": "List all categories",
        "tags": [
          "Universe"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-categories",
        "description": ""
      },
      "parameters": []
    },
    "/categories/{categoryID}": {
      "get": {
        "summary": "Get category information",
        "tags": [
          "Universe"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "object",
                      "properties": {
                        "de": {
                          "type": "string"
                        },
                        "en": {
                          "type": "string"
                        },
                        "es": {
                          "type": "string"
                        },
                        "fr": {
                          "type": "string"
                        },
                        "ja": {
                          "type": "string"
                        },
                        "ru": {
                          "type": "string"
                        },
                        "zh": {
                          "type": "string"
                        }
                      }
                    },
                    "published": {
                      "type": "boolean"
                    },
                    "categoryID": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "name": {
                        "de": "Ladung",
                        "en": "Charge",
                        "es": "Carga",
                        "fr": "Charge",
                        "ja": "チャージ",
                        "ru": "Заряд",
                        "zh": "弹药"
                      },
                      "published": true,
                      "categoryID": "8"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-category-by-id",
        "description": ""
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "categoryID",
          "in": "path",
          "required": true
        }
      ]
    },
    "/certificates": {
      "get": {
        "summary": "List all certificates",
        "tags": [
          "Universe"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-certificates",
        "description": ""
      },
      "parameters": []
    },
    "/certificates/{certificateID}": {
      "get": {
        "summary": "Get certificate information",
        "tags": [
          "Universe"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "description": {
                      "type": "string"
                    },
                    "groupID": {
                      "type": "integer"
                    },
                    "name": {
                      "type": "string"
                    },
                    "recommendedFor": {
                      "type": "array",
                      "items": {
                        "type": "integer"
                      }
                    },
                    "skillTypes": {
                      "type": "object",
                      "properties": {
                        "3300": {
                          "type": "object",
                          "properties": {
                            "advanced": {
                              "type": "integer"
                            },
                            "basic": {
                              "type": "integer"
                            },
                            "elite": {
                              "type": "integer"
                            },
                            "improved": {
                              "type": "integer"
                            },
                            "standard": {
                              "type": "integer"
                            }
                          }
                        },
                        "3303": {
                          "type": "object",
                          "properties": {
                            "advanced": {
                              "type": "integer"
                            },
                            "basic": {
                              "type": "integer"
                            },
                            "elite": {
                              "type": "integer"
                            },
                            "improved": {
                              "type": "integer"
                            },
                            "standard": {
                              "type": "integer"
                            }
                          }
                        },
                        "3310": {
                          "type": "object",
                          "properties": {
                            "advanced": {
                              "type": "integer"
                            },
                            "basic": {
                              "type": "integer"
                            },
                            "elite": {
                              "type": "integer"
                            },
                            "improved": {
                              "type": "integer"
                            },
                            "standard": {
                              "type": "integer"
                            }
                          }
                        },
                        "3311": {
                          "type": "object",
                          "properties": {
                            "advanced": {
                              "type": "integer"
                            },
                            "basic": {
                              "type": "integer"
                            },
                            "elite": {
                              "type": "integer"
                            },
                            "improved": {
                              "type": "integer"
                            },
                            "standard": {
                              "type": "integer"
                            }
                          }
                        },
                        "3312": {
                          "type": "object",
                          "properties": {
                            "advanced": {
                              "type": "integer"
                            },
                            "basic": {
                              "type": "integer"
                            },
                            "elite": {
                              "type": "integer"
                            },
                            "improved": {
                              "type": "integer"
                            },
                            "standard": {
                              "type": "integer"
                            }
                          }
                        },
                        "3315": {
                          "type": "object",
                          "properties": {
                            "advanced": {
                              "type": "integer"
                            },
                            "basic": {
                              "type": "integer"
                            },
                            "elite": {
                              "type": "integer"
                            },
                            "improved": {
                              "type": "integer"
                            },
                            "standard": {
                              "type": "integer"
                            }
                          }
                        },
                        "3316": {
                          "type": "object",
                          "properties": {
                            "advanced": {
                              "type": "integer"
                            },
                            "basic": {
                              "type": "integer"
                            },
                            "elite": {
                              "type": "integer"
                            },
                            "improved": {
                              "type": "integer"
                            },
                            "standard": {
                              "type": "integer"
                            }
                          }
                        },
                        "3317": {
                          "type": "object",
                          "properties": {
                            "advanced": {
                              "type": "integer"
                            },
                            "basic": {
                              "type": "integer"
                            },
                            "elite": {
                              "type": "integer"
                            },
                            "improved": {
                              "type": "integer"
                            },
                            "standard": {
                              "type": "integer"
                            }
                          }
                        },
                        "11083": {
                          "type": "object",
                          "properties": {
                            "advanced": {
                              "type": "integer"
                            },
                            "basic": {
                              "type": "integer"
                            },
                            "elite": {
                              "type": "integer"
                            },
                            "improved": {
                              "type": "integer"
                            },
                            "standard": {
                              "type": "integer"
                            }
                          }
                        },
                        "12213": {
                          "type": "object",
                          "properties": {
                            "advanced": {
                              "type": "integer"
                            },
                            "basic": {
                              "type": "integer"
                            },
                            "elite": {
                              "type": "integer"
                            },
                            "improved": {
                              "type": "integer"
                            },
                            "standard": {
                              "type": "integer"
                            }
                          }
                        }
                      }
                    },
                    "certificateID": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "description": "This certificate represents a level of competence in handling small energy turrets. The holder has learned that pulse lasers are short range weapons, beam lasers are long range, and both use crystal ammunition which can be swapped with no reload time. This is a good skillset for capsuleers specializing in small Amarr vessels based on Frigate and Destroyer hulls.",
                      "groupID": 255,
                      "name": "Small Energy Turret",
                      "recommendedFor": [
                        73789,
                        42685,
                        33079,
                        37453,
                        589,
                        591,
                        596,
                        597,
                        615,
                        33655,
                        11184,
                        35779,
                        33879,
                        11393,
                        33657,
                        37481,
                        42246,
                        17703,
                        58745,
                        3516,
                        17924,
                        17926,
                        34317,
                        44993,
                        11940,
                        11942,
                        16236
                      ],
                      "skillTypes": {
                        "3300": {
                          "advanced": 5,
                          "basic": 3,
                          "elite": 5,
                          "improved": 4,
                          "standard": 4
                        },
                        "3303": {
                          "advanced": 5,
                          "basic": 1,
                          "elite": 5,
                          "improved": 4,
                          "standard": 3
                        },
                        "3310": {
                          "advanced": 4,
                          "basic": 1,
                          "elite": 5,
                          "improved": 4,
                          "standard": 3
                        },
                        "3311": {
                          "advanced": 4,
                          "basic": 1,
                          "elite": 5,
                          "improved": 4,
                          "standard": 3
                        },
                        "3312": {
                          "advanced": 4,
                          "basic": 1,
                          "elite": 5,
                          "improved": 4,
                          "standard": 3
                        },
                        "3315": {
                          "advanced": 4,
                          "basic": 0,
                          "elite": 5,
                          "improved": 4,
                          "standard": 3
                        },
                        "3316": {
                          "advanced": 4,
                          "basic": 1,
                          "elite": 5,
                          "improved": 4,
                          "standard": 3
                        },
                        "3317": {
                          "advanced": 4,
                          "basic": 0,
                          "elite": 5,
                          "improved": 4,
                          "standard": 3
                        },
                        "11083": {
                          "advanced": 1,
                          "basic": 0,
                          "elite": 5,
                          "improved": 0,
                          "standard": 0
                        },
                        "12213": {
                          "advanced": 1,
                          "basic": 0,
                          "elite": 5,
                          "improved": 0,
                          "standard": 0
                        }
                      },
                      "certificateID": "50"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-certificate-by-id",
        "description": ""
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "certificateID",
          "in": "path",
          "required": true
        }
      ]
    },
    "/character_attributes": {
      "get": {
        "summary": "List all character attributes",
        "tags": [
          "Skills"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-character-attributes",
        "description": ""
      },
      "parameters": []
    },
    "/character_attributes/{characterAttributeID}": {
      "get": {
        "summary": "Get character attribute information",
        "tags": [
          "Skills"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "description": {
                      "type": "string"
                    },
                    "iconID": {
                      "type": "integer"
                    },
                    "nameID": {
                      "type": "object",
                      "properties": {
                        "de": {
                          "type": "string"
                        },
                        "en": {
                          "type": "string"
                        },
                        "es": {
                          "type": "string"
                        },
                        "fr": {
                          "type": "string"
                        },
                        "ja": {
                          "type": "string"
                        },
                        "ko": {
                          "type": "string"
                        },
                        "ru": {
                          "type": "string"
                        },
                        "zh": {
                          "type": "string"
                        }
                      }
                    },
                    "notes": {
                      "type": "string"
                    },
                    "shortDescription": {
                      "type": "string"
                    },
                    "characterAttributeID": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "description": "<b>Intelligence is a measure of a pilot's capacity for learning, reasoning, and understanding.</b> It is also an aptitude indicator for cognitive abilities such as logical reasoning and abstract thinking. In the EVE universe, pilots with a high intelligence score possess an innate mastery of core academic disciplines such as mathematics and physics.\r\n\r\n<b>Skill categories</b> such as <b>Electronics, Engineering, Navigation, and Science all require direct application of these disciplines</b> and build extensively on them throughout the pilot's skill advancement, irrespective of career choice. Additionally, advanced starship technologies such as <b>Electronic Warfare, Shield Operation, and Cloaking</b> will require a high Intelligence score to master quickly.\r\n\r\nThis attribute is secondary for numerous <b>social and industrial skills</b> as well. ",
                      "iconID": 1380,
                      "nameID": {
                        "de": "Intelligenz",
                        "en": "Intelligence",
                        "es": "Inteligencia",
                        "fr": "Intelligence",
                        "ja": "知性",
                        "ko": "지능",
                        "ru": "Интеллект",
                        "zh": "智力"
                      },
                      "notes": "Intelligence does not increase the chance of achieving success during the application of skills, only how quickly the skills that depend on it are trained.",
                      "shortDescription": "A measure of individual capacity for learning, reasoning, abstract thinking, and overall cognitive aptitude.",
                      "characterAttributeID": "1"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-character-attribute-by-id",
        "description": ""
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "characterAttributeID",
          "in": "path",
          "required": true
        }
      ]
    },
    "/contraband_types": {
      "get": {
        "summary": "List all contraband types",
        "tags": [
          "Universe"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-contraband-types",
        "description": ""
      },
      "parameters": []
    },
    "/contraband_types/{typeID}": {
      "get": {
        "summary": "Get contraband type information",
        "tags": [
          "Universe"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "factions": {
                      "type": "object",
                      "properties": {
                        "500005": {
                          "type": "object",
                          "properties": {
                            "attackMinSec": {
                              "type": "number"
                            },
                            "confiscateMinSec": {
                              "type": "number"
                            },
                            "fineByValue": {
                              "type": "number"
                            },
                            "standingLoss": {
                              "type": "number"
                            }
                          }
                        },
                        "500017": {
                          "type": "object",
                          "properties": {
                            "attackMinSec": {
                              "type": "number"
                            },
                            "confiscateMinSec": {
                              "type": "number"
                            },
                            "fineByValue": {
                              "type": "number"
                            },
                            "standingLoss": {
                              "type": "number"
                            }
                          }
                        }
                      }
                    },
                    "typeID": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "factions": {
                        "500005": {
                          "attackMinSec": 1.1,
                          "confiscateMinSec": 0.4,
                          "fineByValue": 4.5,
                          "standingLoss": 0.2
                        },
                        "500017": {
                          "attackMinSec": 1.1,
                          "confiscateMinSec": 0.5,
                          "fineByValue": 1.5,
                          "standingLoss": 0.05
                        }
                      },
                      "typeID": "3713"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-contraband-type-by-id",
        "description": ""
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "typeID",
          "in": "path",
          "required": true
        }
      ]
    },
    "/control_tower_resources": {
      "get": {
        "summary": "List all control tower resources",
        "tags": [
          "Universe"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-control-tower-resources",
        "description": ""
      },
      "parameters": []
    },
    "/control_tower_resources/{typeID}": {
      "get": {
        "summary": "Get control tower resource information",
        "tags": [
          "Universe"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "resources": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "purpose": {
                            "type": "integer"
                          },
                          "quantity": {
                            "type": "integer"
                          },
                          "resourceTypeID": {
                            "type": "integer"
                          },
                          "factionID": {
                            "type": "integer"
                          },
                          "minSecurityLevel": {
                            "type": "number"
                          }
                        }
                      }
                    },
                    "typeID": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "resources": [
                        {
                          "purpose": 4,
                          "quantity": 400,
                          "resourceTypeID": 16275
                        },
                        {
                          "factionID": 500003,
                          "minSecurityLevel": 0.45,
                          "purpose": 1,
                          "quantity": 1,
                          "resourceTypeID": 24592
                        },
                        {
                          "factionID": 500007,
                          "minSecurityLevel": 0.45,
                          "purpose": 1,
                          "quantity": 1,
                          "resourceTypeID": 24597
                        },
                        {
                          "factionID": 500001,
                          "minSecurityLevel": 0.45,
                          "purpose": 1,
                          "quantity": 1,
                          "resourceTypeID": 24593
                        },
                        {
                          "factionID": 500004,
                          "minSecurityLevel": 0.45,
                          "purpose": 1,
                          "quantity": 1,
                          "resourceTypeID": 24594
                        },
                        {
                          "factionID": 500008,
                          "minSecurityLevel": 0.45,
                          "purpose": 1,
                          "quantity": 1,
                          "resourceTypeID": 24596
                        },
                        {
                          "factionID": 500002,
                          "minSecurityLevel": 0.45,
                          "purpose": 1,
                          "quantity": 1,
                          "resourceTypeID": 24595
                        },
                        {
                          "purpose": 1,
                          "quantity": 40,
                          "resourceTypeID": 4051
                        }
                      ],
                      "typeID": "16213"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-control-tower-resource-by-id",
        "description": ""
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "typeID",
          "in": "path",
          "required": true
        }
      ]
    },
    "/corporation_activities": {
      "get": {
        "summary": "List all corporation activities",
        "tags": [
          "Corporation"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-corporation-activities",
        "description": ""
      },
      "parameters": []
    },
    "/corporation_activities/{corporationActivityID}": {
      "get": {
        "summary": "Get corporation activity information",
        "tags": [
          "Corporation"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "nameID": {
                      "type": "object",
                      "properties": {
                        "de": {
                          "type": "string"
                        },
                        "en": {
                          "type": "string"
                        },
                        "es": {
                          "type": "string"
                        },
                        "fr": {
                          "type": "string"
                        },
                        "ja": {
                          "type": "string"
                        },
                        "ko": {
                          "type": "string"
                        },
                        "ru": {
                          "type": "string"
                        },
                        "zh": {
                          "type": "string"
                        }
                      }
                    },
                    "corporationActivityID": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "nameID": {
                        "de": "Militär",
                        "en": "Military",
                        "es": "Milicia",
                        "fr": "Militaire",
                        "ja": "軍事",
                        "ko": "군사",
                        "ru": "Силовые операции",
                        "zh": "军事"
                      },
                      "corporationActivityID": "5"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-corporation-activity-by-id",
        "description": ""
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "corporationActivityID",
          "in": "path",
          "required": true
        }
      ]
    },
    "/dogma/attribute_categories": {
      "get": {
        "summary": "List all attribute categories",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-attribute-categories",
        "description": "",
        "tags": [
          "Dogma"
        ]
      },
      "parameters": []
    },
    "/dogma/attribute_categories/{attributeCategoryID}": {
      "get": {
        "summary": "Get attribute category information",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "description": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "attributeID": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "description": "Remote shield transfers, armor, structure and such  ",
                      "name": "Remote Assistance",
                      "attributeID": "20"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-attribute-category-by-id",
        "description": "",
        "tags": [
          "Dogma"
        ]
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "attributeCategoryID",
          "in": "path",
          "required": true
        }
      ]
    },
    "/dogma/attributes": {
      "get": {
        "summary": "List all attributes",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-attributes",
        "description": "",
        "tags": [
          "Dogma"
        ]
      },
      "parameters": []
    },
    "/dogma/attributes/{attributeID}": {
      "get": {
        "summary": "Get attribute information",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "attributeID": {
                      "type": "integer"
                    },
                    "categoryID": {
                      "type": "integer"
                    },
                    "dataType": {
                      "type": "integer"
                    },
                    "defaultValue": {
                      "type": "integer"
                    },
                    "description": {
                      "type": "string"
                    },
                    "displayNameID": {
                      "type": "object",
                      "properties": {
                        "de": {
                          "type": "string"
                        },
                        "en": {
                          "type": "string"
                        },
                        "es": {
                          "type": "string"
                        },
                        "fr": {
                          "type": "string"
                        },
                        "ja": {
                          "type": "string"
                        },
                        "ko": {
                          "type": "string"
                        },
                        "ru": {
                          "type": "string"
                        },
                        "zh": {
                          "type": "string"
                        }
                      }
                    },
                    "highIsGood": {
                      "type": "boolean"
                    },
                    "iconID": {
                      "type": "integer"
                    },
                    "name": {
                      "type": "string"
                    },
                    "published": {
                      "type": "boolean"
                    },
                    "stackable": {
                      "type": "boolean"
                    },
                    "tooltipDescriptionID": {
                      "type": "object",
                      "properties": {
                        "de": {
                          "type": "string"
                        },
                        "en": {
                          "type": "string"
                        },
                        "es": {
                          "type": "string"
                        },
                        "fr": {
                          "type": "string"
                        },
                        "ja": {
                          "type": "string"
                        },
                        "ko": {
                          "type": "string"
                        },
                        "ru": {
                          "type": "string"
                        },
                        "zh": {
                          "type": "string"
                        }
                      }
                    },
                    "tooltipTitleID": {
                      "type": "object",
                      "properties": {
                        "de": {
                          "type": "string"
                        },
                        "en": {
                          "type": "string"
                        },
                        "es": {
                          "type": "string"
                        },
                        "fr": {
                          "type": "string"
                        },
                        "ja": {
                          "type": "string"
                        },
                        "ko": {
                          "type": "string"
                        },
                        "ru": {
                          "type": "string"
                        },
                        "zh": {
                          "type": "string"
                        }
                      }
                    },
                    "unitID": {
                      "type": "integer"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "attributeID": 3,
                      "categoryID": 7,
                      "dataType": 1,
                      "defaultValue": 0,
                      "description": "current structure damage dealt to module",
                      "displayNameID": {
                        "de": "Gegenstandsschaden",
                        "en": "Item Damage",
                        "es": "Daño de objeto",
                        "fr": "Objet endommagé",
                        "ja": "アイテムダメージ",
                        "ko": "아이템 손상도",
                        "ru": "Повреждение предмета",
                        "zh": "物品损坏"
                      },
                      "highIsGood": false,
                      "iconID": 1386,
                      "name": "damage",
                      "published": true,
                      "stackable": true,
                      "tooltipDescriptionID": {
                        "de": "Modulschaden",
                        "en": "Module Damage",
                        "es": "Daño del módulo",
                        "fr": "Détérioration du module",
                        "ja": "モジュールへのダメージ",
                        "ko": "모듈 피해량",
                        "ru": "Повреждение модулей",
                        "zh": "装备损耗"
                      },
                      "tooltipTitleID": {
                        "de": "Modulschaden",
                        "en": "Module Damage",
                        "es": "Daño del módulo",
                        "fr": "Détérioration du module",
                        "ja": "モジュールへのダメージ",
                        "ko": "모듈 피해량",
                        "ru": "Повреждение модулей",
                        "zh": "装备损耗"
                      },
                      "unitID": 113
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-attribute-by-id",
        "description": "",
        "tags": [
          "Dogma"
        ]
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "attributeID",
          "in": "path",
          "required": true
        }
      ]
    },
    "/dogma/effects": {
      "get": {
        "summary": "List all effects",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-effects",
        "description": "",
        "tags": [
          "Dogma"
        ]
      },
      "parameters": []
    },
    "/dogma/effects/{effectID}": {
      "get": {
        "summary": "Get effect information",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "disallowAutoRepeat": {
                      "type": "boolean"
                    },
                    "effectCategory": {
                      "type": "integer"
                    },
                    "effectID": {
                      "type": "integer"
                    },
                    "effectName": {
                      "type": "string"
                    },
                    "electronicChance": {
                      "type": "boolean"
                    },
                    "guid": {
                      "type": "string"
                    },
                    "iconID": {
                      "type": "integer"
                    },
                    "isAssistance": {
                      "type": "boolean"
                    },
                    "isOffensive": {
                      "type": "boolean"
                    },
                    "isWarpSafe": {
                      "type": "boolean"
                    },
                    "modifierInfo": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "domain": {
                            "type": "string"
                          },
                          "func": {
                            "type": "string"
                          },
                          "modifiedAttributeID": {
                            "type": "integer"
                          },
                          "modifyingAttributeID": {
                            "type": "integer"
                          },
                          "operation": {
                            "type": "integer"
                          }
                        }
                      }
                    },
                    "propulsionChance": {
                      "type": "boolean"
                    },
                    "published": {
                      "type": "boolean"
                    },
                    "rangeChance": {
                      "type": "boolean"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "disallowAutoRepeat": false,
                      "effectCategory": 0,
                      "effectID": 797,
                      "effectName": "caldariBattleshipSkillLevelPreMulShipBonusCB3Ship",
                      "electronicChance": false,
                      "guid": "caldariBattleshipSkillLevelPreMulShipBonusCB3Ship",
                      "iconID": 0,
                      "isAssistance": false,
                      "isOffensive": false,
                      "isWarpSafe": false,
                      "modifierInfo": [
                        {
                          "domain": "shipID",
                          "func": "ItemModifier",
                          "modifiedAttributeID": 598,
                          "modifyingAttributeID": 280,
                          "operation": 0
                        }
                      ],
                      "propulsionChance": false,
                      "published": false,
                      "rangeChance": false
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-effect-by-id",
        "description": "",
        "tags": [
          "Dogma"
        ]
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "effectID",
          "in": "path",
          "required": true
        }
      ]
    },
    "/dogma/factions": {
      "get": {
        "summary": "List all factions",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-factions",
        "description": "",
        "tags": [
          "Dogma"
        ]
      },
      "parameters": []
    },
    "/dogma/factions/{factionID}": {
      "get": {
        "summary": "Get faction information",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "corporationID": {
                      "type": "integer"
                    },
                    "descriptionID": {
                      "type": "object",
                      "properties": {
                        "de": {
                          "type": "string"
                        },
                        "en": {
                          "type": "string"
                        },
                        "es": {
                          "type": "string"
                        },
                        "fr": {
                          "type": "string"
                        },
                        "ja": {
                          "type": "string"
                        },
                        "ko": {
                          "type": "string"
                        },
                        "ru": {
                          "type": "string"
                        },
                        "zh": {
                          "type": "string"
                        }
                      }
                    },
                    "iconID": {
                      "type": "integer"
                    },
                    "memberRaces": {
                      "type": "array",
                      "items": {
                        "type": "integer"
                      }
                    },
                    "militiaCorporationID": {
                      "type": "integer"
                    },
                    "nameID": {
                      "type": "object",
                      "properties": {
                        "de": {
                          "type": "string"
                        },
                        "en": {
                          "type": "string"
                        },
                        "es": {
                          "type": "string"
                        },
                        "fr": {
                          "type": "string"
                        },
                        "it": {
                          "type": "string"
                        },
                        "ja": {
                          "type": "string"
                        },
                        "ko": {
                          "type": "string"
                        },
                        "ru": {
                          "type": "string"
                        },
                        "zh": {
                          "type": "string"
                        }
                      }
                    },
                    "shortDescriptionID": {
                      "type": "object",
                      "properties": {
                        "de": {
                          "type": "string"
                        },
                        "en": {
                          "type": "string"
                        },
                        "es": {
                          "type": "string"
                        },
                        "fr": {
                          "type": "string"
                        },
                        "ja": {
                          "type": "string"
                        },
                        "ko": {
                          "type": "string"
                        },
                        "ru": {
                          "type": "string"
                        },
                        "zh": {
                          "type": "string"
                        }
                      }
                    },
                    "sizeFactor": {
                      "type": "integer"
                    },
                    "solarSystemID": {
                      "type": "integer"
                    },
                    "uniqueName": {
                      "type": "boolean"
                    },
                    "factionID": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "corporationID": 1000051,
                      "descriptionID": {
                        "de": "Die Republik Minmatar wurde vor über einem Jahrhundert gegründet, als die Minmatar in einem Aufstand, der als die Minmatar-Rebellion bekannt wurde, ihre Amarr-Feudalherren vertrieben. Die Minmatar wurden darin von der Föderation der Gallente unterstützt und bis heute sind beide Nationen enge Verbündete. Allerding lebt derzeit nur ein Viertel der Bevölkerung der Minmatar in der Republik. Die anderen sind zwischen den Sternen verteilt - einschließlich einer großen Gruppe, die sich noch in Sklaverei im Imperium der Amarr befindet. Die Minmatar sind unabhängig und stolz, besitzen einen starken Willen und eine Vielzahl an Stammesbräuchen.",
                        "en": "The Minmatar Republic was formed over a century ago when the Minmatar threw out their Amarrian overlords in what is now known as the Minmatar Rebellion. In this the Minmatar had the support of the Gallente Federation, and to this day the two nations remain close allies. Yet, only a quarter of the Minmatar people reside within the Republic. The rest are scattered around the star cluster, including a large portion who are still enslaved within the Amarr Empire. Minmatar individuals are independent and proud, possessing a strong will and a multitude of tribal traditions.",
                        "es": "La República Minmatar se formó hace más de un siglo, cuando los minmatarianos expulsaron a sus amos amarrianos en lo que hoy se conoce como la Rebelión de Minmatar. Para ello, contaron con el apoyo de la Federación Gallente, y actualmente siguen manteniendo una estrecha alianza. Sin embargo, solo una cuarta parte del pueblo de Minmatar reside en la República. El resto está disperso por todo el cúmulo estelar, incluida una gran parte que sigue esclavizada en el Imperio Amarr. Los individuos minmatarianos son independientes y orgullosos, poseen una voluntad férrea y cuentan con una multitud de tradiciones tribales.",
                        "fr": "La République minmatar a vu le jour il y a plus d'un siècle, lorsque le peuple minmatar renversa ses maîtres amarr au cours de ce que nous appelons aujourd'hui la rébellion minmatar. La Fédération gallente soutint le mouvement minmatar, et les deux nations restent aujourd'hui encore des alliés proches. Pourtant, seul un quart de la population minmatar réside aujourd'hui au sein de la République. Les autres sont dispersés aux quatre coins de la galaxie, et une grande partie vit encore sous le joug de l'Empire amarr. Les Minmatar sont indépendants, fiers et dotés d'une volonté de fer. Leur vie est régie par de nombreuses traditions tribales.",
                        "ja": "ミンマター共和国は、1世紀以上前にミンマター人がミンマター蜂起によってアマーの領主を追放した際に成立した。このときミンマター人がガレンテ連邦の支援を受けたこともあり、両国は今日でも親密な同盟関係にある。しかし実際に共和国内に住んでいるミンマター人は全体の4分の1ほどで、残りはこの世界のあちこちに散らばっており、その大部分は今も奴隷としてアマー帝国に捕らわれている。ミンマター人は独立心旺盛で誇り高く、強い意志を持ち、部族のさまざまな伝統を守っている。",
                        "ko": "민마타 공화국은 민마타가 아마르인 지배층을 몰아낸, 오늘날 민마타 대항쟁이라고 불리는 사건이 있고 난 뒤로 한 세기의 세월에 걸쳐 건립되었습니다. 민마타는 이 반란을 일으키는 과정에서 갈란테 연방의 도움을 받았으며 그 덕분에 두 국가는 오늘날까지 두터운 우정을 자랑하는 동맹 관계를 유지 중입니다. 현재로서는 민마타인들 중 1/4만 이 공화국에서 거주하고 있으며 나머지는 성단 전반에 흩어져 있습니다. 그중 대다수는 여전히 아마르 제국에서 노예 생활을 벗어나지 못하고 있습니다. 민마타 사람들은 독립적인 성향을 보이며 부족 전통에 대한 자부심과 신념이 강한 편입니다.",
                        "ru": "Республика Minmatar была основана более столетия тому назад, когда Minmatar победили своих повелителей Amarr во время так называемого «Восстания Minmatar». Их поддерживала Федерация Gallente, и до наших дней эти две нации остаются близкими союзниками. Вместе с тем на территории Республики проживает лишь четверть населения Minmatar. Остальное население разбросано вокруг звездного кластера, а значительная его часть все еще находится в рабстве у Империи Amarr. Представители Minmatar независимы, горды, обладают сильной волей и придерживаются множества племенных традиций.",
                        "zh": "米玛塔尔共和国建于一个多世纪前，那时玛塔利在所谓的米玛塔尔叛乱中摆脱了艾玛人的统治。玛塔利得到盖伦特联邦的支持，直到现在他们仍是亲密的盟友。只有四分之一的玛塔利人民居住在共和国境内，其余分散在世界的各个角落，很大一部分仍在艾玛帝国境内受到奴役。米玛塔尔人独立高傲，意志坚强，拥有丰富的部落传统。"
                      },
                      "iconID": 1440,
                      "memberRaces": [
                        2
                      ],
                      "militiaCorporationID": 1000182,
                      "nameID": {
                        "de": "Minmatar Republic",
                        "en": "Minmatar Republic",
                        "es": "República Minmatar",
                        "fr": "République minmatar",
                        "it": "Repubblica Minmatar",
                        "ja": "ミンマター共和国",
                        "ko": "민마타 공화국",
                        "ru": "Республика Минматар",
                        "zh": "米玛塔尔共和国"
                      },
                      "shortDescriptionID": {
                        "de": "Die Republik Minmatar strebt danach, Tyrannei und Unterdrückung im gesamten Cluster zu beenden.",
                        "en": "The Minmatar Republic seeks to end tyranny and oppression across the cluster.",
                        "es": "La República Minmatar pretende acabar con la tiranía y la opresión por todo el cúmulo.",
                        "fr": "La République minmatar cherche à mettre un terme à la tyrannie et l'oppression à travers la galaxie.",
                        "ja": "ミンマター共和国は、星団の専制政治と抑圧を終わらせようとしている。",
                        "ko": "민마타 공화국의 목적은 우주에서 독재와 억압을 종결하는 것입니다.",
                        "ru": "Республика Минматар стремится покончить с гнётом и тиранией в этом скоплении.",
                        "zh": "米玛塔尔共和国力图终结宇宙中的暴政与奴役。"
                      },
                      "sizeFactor": 5,
                      "solarSystemID": 30002544,
                      "uniqueName": true,
                      "factionID": "500002"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-faction-by-id",
        "description": "",
        "tags": [
          "Dogma"
        ]
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "factionID",
          "in": "path",
          "required": true
        }
      ]
    },
    "/universe/graphics": {
      "get": {
        "summary": "List all graphics",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-graphics",
        "description": "",
        "tags": [
          "Universe"
        ]
      },
      "parameters": []
    },
    "/universe/graphics/{graphicID}": {
      "get": {
        "summary": "Get faction information",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "description": {
                      "type": "string"
                    },
                    "iconInfo": {
                      "type": "object",
                      "properties": {
                        "folder": {
                          "type": "string"
                        }
                      }
                    },
                    "sofFactionName": {
                      "type": "string"
                    },
                    "sofHullName": {
                      "type": "string"
                    },
                    "sofRaceName": {
                      "type": "string"
                    },
                    "graphicID": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "description": "Gallente Frigate Incursus",
                      "iconInfo": {
                        "folder": "res:/dx9/model/ship/gallente/frigate/gf4/icons"
                      },
                      "sofFactionName": "gallentebase",
                      "sofHullName": "gf4_t1",
                      "sofRaceName": "gallente",
                      "graphicID": "61"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-graphic-by-id",
        "description": "",
        "tags": [
          "Universe"
        ]
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "graphicID",
          "in": "path",
          "required": true
        }
      ]
    },
    "/universe/groups": {
      "get": {
        "summary": "List all groups",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-groups",
        "description": "",
        "tags": [
          "Universe"
        ]
      },
      "parameters": []
    },
    "/universe/groups/{groupID}": {
      "get": {
        "summary": "Get group information",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "anchorable": {
                      "type": "boolean"
                    },
                    "anchored": {
                      "type": "boolean"
                    },
                    "categoryID": {
                      "type": "integer"
                    },
                    "fittableNonSingleton": {
                      "type": "boolean"
                    },
                    "iconID": {
                      "type": "integer"
                    },
                    "name": {
                      "type": "object",
                      "properties": {
                        "de": {
                          "type": "string"
                        },
                        "en": {
                          "type": "string"
                        },
                        "es": {
                          "type": "string"
                        },
                        "fr": {
                          "type": "string"
                        },
                        "ja": {
                          "type": "string"
                        },
                        "ru": {
                          "type": "string"
                        },
                        "zh": {
                          "type": "string"
                        }
                      }
                    },
                    "published": {
                      "type": "boolean"
                    },
                    "useBasePrice": {
                      "type": "boolean"
                    },
                    "groupID": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "anchorable": false,
                      "anchored": false,
                      "categoryID": 2,
                      "fittableNonSingleton": false,
                      "iconID": 16,
                      "name": {
                        "de": "Frachtcontainer",
                        "en": "Cargo Container",
                        "es": "Contenedor de carga",
                        "fr": "Conteneur de fret",
                        "ja": "カーゴコンテナ",
                        "ru": "Грузовой контейнер",
                        "zh": "货柜"
                      },
                      "published": true,
                      "useBasePrice": true,
                      "groupID": "12"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-group-by-id",
        "description": "",
        "tags": [
          "Universe"
        ]
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "groupID",
          "in": "path",
          "required": true
        }
      ]
    },
    "/universe/icons": {
      "get": {
        "summary": "List all icons",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-icons",
        "description": "",
        "tags": [
          "Universe"
        ]
      },
      "parameters": []
    },
    "/universe/icons/{iconID}": {
      "get": {
        "summary": "Get icon information",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "description": {
                      "type": "string"
                    },
                    "iconFile": {
                      "type": "string"
                    },
                    "iconID": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "description": "less common polymer 3 - polymerLessCommon3",
                      "iconFile": "res:/ui/texture/icons/83_64_7.png",
                      "iconID": "3746"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-icon-by-id",
        "description": "",
        "tags": [
          "Universe"
        ]
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "iconID",
          "in": "path",
          "required": true
        }
      ]
    },
    "/inventory/flags": {
      "get": {
        "summary": "List all flags",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-inventory-flags",
        "description": "",
        "tags": [
          "Inventory"
        ]
      },
      "parameters": []
    },
    "/inventory/flags/{flagID}": {
      "get": {
        "summary": "Get flag information",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "flagID": {
                      "type": "integer"
                    },
                    "flagName": {
                      "type": "string"
                    },
                    "flagText": {
                      "type": "string"
                    },
                    "orderID": {
                      "type": "integer"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "flagID": 139,
                      "flagName": "SpecializedSmallShipHold",
                      "flagText": "Specialized Small Ship Hold",
                      "orderID": 0
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-inventory-flag-by-id",
        "description": "",
        "tags": [
          "Inventory"
        ]
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "flagID",
          "in": "path",
          "required": true
        }
      ]
    },
    "/inventory/items": {
      "get": {
        "summary": "List all items",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-inventory-items",
        "description": "",
        "tags": [
          "Inventory"
        ]
      },
      "parameters": []
    },
    "/inventory/items/{itemID}": {
      "get": {
        "summary": "Get item information",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "flagID": {
                      "type": "integer"
                    },
                    "itemID": {
                      "type": "integer"
                    },
                    "locationID": {
                      "type": "integer"
                    },
                    "ownerID": {
                      "type": "integer"
                    },
                    "quantity": {
                      "type": "integer"
                    },
                    "typeID": {
                      "type": "integer"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "flagID": 0,
                      "itemID": 15,
                      "locationID": 2,
                      "ownerID": 2,
                      "quantity": 2000000000,
                      "typeID": 34
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-inventory-item-by-id",
        "description": "",
        "tags": [
          "Inventory"
        ]
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "itemID",
          "in": "path",
          "required": true
        }
      ]
    },
    "/inventory/names": {
      "get": {
        "summary": "List all names",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-inventory-names",
        "description": "",
        "tags": [
          "Inventory"
        ]
      },
      "parameters": []
    },
    "/inventory/names/{itemID}": {
      "get": {
        "summary": "Get name information",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "itemID": {
                      "type": "integer"
                    },
                    "itemName": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "itemID": 3010605,
                      "itemName": "Jesahek Psaken"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-inventory-name-by-id",
        "description": "",
        "tags": [
          "Inventory"
        ]
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "itemID",
          "in": "path",
          "required": true
        }
      ]
    },
    "/inventory/positions": {
      "get": {
        "summary": "List all positions",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-inventory-positions",
        "description": "",
        "tags": [
          "Inventory"
        ]
      },
      "parameters": []
    },
    "/inventory/positions/{positionID}": {
      "get": {
        "summary": "Get position information",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "itemID": {
                      "type": "integer"
                    },
                    "x": {
[...]
